<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Wikipedia Search</title>
    </head>
    <body>
    {% extends "layout.html" %}
    <div class = "home">
        <h1>Dynamic Wikipedia Search</h1>
            <br>
	        <form action ="/form/submit" method="POST">
                <label for="searchTerm">Welcome! Please enter the term you would like to search for in the following URL >>> http://127.0.0.1:5000/[YOUR SEARCH TERM].wiki-search.com</label>
                <input type="text" name="searchTerm" class="search" placeholder="Search here">
                <button type="submit">Submit</button>
            </form>
    </div>
</body>

</html>